.left-nav {
  /* #EDF2F6 */

  background: #edf2f6;

  /* dashboard-color-1 */

  color: #22303c !important;

  font: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  height: 100vh;
}

.left-nav-active {
  background: #fff !important;
  width: 100%;
  color: black !important;
  font-weight: 800 !important;
}

.nav-link-txt {
  /* dashboard-color-1 */

  color: #22303c !important;
}

.nav-hdr {
  font: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  /* dashboard-color-2 */

  color: #84909b !important;
}

.luck {
  font: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;

  /* #171717 */

  color: #171717 !important;
}

.dealership {
  font: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 133% */

  /* dashboard-color-2 */

  color: #84909b !important;
}

.circular-icons {
  background: #e2e8ed;
  padding: 5px;
  border-radius: 50%;
}

.export-btn {
  background: #ffffff !important;
  /* #E2E8ED */
  color: #84909b !important;

  border: 1px solid #e2e8ed !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
}

.pp-head {
  /* #E2E8ED */

  background: #e2e8ed;
}

.pp-body {
  background: #fff !important;
}

.user-mgmt-btn {
  width: 200px;

  font: Source Sans Pro;
}

.user-mgmt {
  margin-left: 60px;
}
